<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django Blog</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
{#    <link rel="stylesheet"#}
{#          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"#}
{#          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"#}
{#          crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>

  <body>
    <header>
      <div class="nav-left">
        <h1>
          <a href="/">Django Blog</a>
        </h1>
      </div>
      <div class="nav-right">
        <a href="{% url 'post-create' %}">+ New Blog Post</a>
      </div>
    </header>

    <main>
      <div class="container">
        {% if user.is_authenticated %}
          <p>Hi {{ user.username }}!</p>
          <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
          <p>You are not logged in.</p>
          <a href="{% url 'login' %}">Login</a>
        {% endif %}

        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <footer>
      <div class="container">
        <hr>
        <a href="http://simpleisbetterthancomplex.com"
           title="Simple is Better Than Complex">SimpleIsBetterThanComplex.com</a>
        <a href="https://github.com/simpleisbetterthancomplex/simple-django-widget-tweaks"
           title="Simple Django Widget Tweaks Repository">github</a>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>